<!DOCTYPE html>
<ion-content>
    <div class="header">
        <h2>EL GHARABI ISSAM</h2>

    </div>
    <div class="flex">
        <div class="border-bleu">
            <div class="border-wight">
                <div class="img-box">
                    <img src="../../assets/icon/me.jpeg">
                </div>
            </div>
        </div>
    </div>
    <ion-card>
        <ion-item lines="none">
            <ion-avatar slot="start">
                <img src="../../assets/icon/me.jpeg" />
            </ion-avatar>
            <ion-label>
                <h2><b>EL GHARABI ISSAM</b></h2>
                <p>Il y a 14 heures</p>
            </ion-label>
        </ion-item>
        <ion-item lines="none" class="tweet">
            <ion-label text-wrap>my TV won’t turn on!!<br/><br/>Samsung 32″ HD UA32N5003AKXMV - LED TV – Noir
            </ion-label>
        </ion-item>
        <img class="tweet-img" src="https://ma.jumia.is/unsafe/fit-in/680x680/filters:fill(white)/product/87/919302/1.jpg?8217" />

        <ion-button size="small" fill="clear">
            <ion-icon slot="start" name="chatbubble-ellipses"></ion-icon>34
        </ion-button>

    </ion-card>



</ion-content>