<!DOCTYPE html>
<ion-content>

    <div class="header">
        <h2>{{profilee.mail}}</h2>

        <div class="space-between ">
            <div class="nom ">

                <p>{{profilee.nom}}</p>
            </div>
            <div class="usname ">

                <p>{{profilee.username}}</p>
            </div>
        </div>
    </div>

    <div class="flex ">
        <div class="border-bleu ">
            <div class="border-wight ">
                <div class="img-box ">
                    <ion-img src={{profilee.image}}></ion-img>
                </div>
            </div>
        </div>
    </div>
    <div class="padding ">
        <ion-item>
            <ion-input [(ngModel)]="profil.nom " class="writ " type="text " placeholder="edit Nom "></ion-input>
        </ion-item>
        <br>
        <ion-item>
            <ion-input [(ngModel)]="profil.username " class="writ " type="text " placeholder="edit Username "></ion-input>
        </ion-item>
        <br>
        <ion-item>

            <ion-input [(ngModel)]="profil.mail " class=" writ " type="mail " placeholder="edit Adresse email "></ion-input>
        </ion-item>
        <br>


    </div>
    <ion-button expand="block " (click)="updateprofile()">Edit Profile</ion-button>
    <ion-button color="dark" style="padding: 3px 122px 10px;" (click)=" SignOut()">
        <ion-icon name="log-out"></ion-icon>
        <ion-label color="light">log out</ion-label>
    </ion-button>
</ion-content>