<!DOCTYPE html>
<ion-content>
    <div class="padding">
        <div class="logo">
            <ion-icon color="light" name="person-circle-outline"></ion-icon>
        </div>
        <ion-item>
            <ion-icon color="light" name="person-outline"></ion-icon>
            <ion-input color="light" placeholder="  Adress Email" type="email"></ion-input>
        </ion-item>
        <ion-item>

            <ion-icon color="light" name="key-outline"></ion-icon>
            <ion-input color="light" placeholder="  Mot de passe" type="password"></ion-input>
        </ion-item>
        <ion-item lines="none">
            <ion-button color="light" fill="clear" slot="end">Mot de passe oubliee ?</ion-button>
        </ion-item>
        <ion-button color="light" fill="outline" shape=" round " expand="block ">Connection</ion-button>
        <br>
        <ion-button shape="round " expand="block ">Inscription</ion-button>
        <ion-item lines="none">
            <ion-label color="light" text-center>Ou connectez-vous avec</ion-label>
        </ion-item>
        <div class="flex ">
            <ion-button color="facebook " shape="round ">
                <ion-icon slot="start " name="logo-facebook "></ion-icon>
                Facebook
            </ion-button>
            <ion-button color="google " shape="round ">
                <ion-icon slot="start " name="logo-google "></ion-icon>
                Google
            </ion-button>
        </div>
    </div>
</ion-content>