<!DOCTYPE html >
<ion-header>
    <ion-toolbar>
        <ion-title size="large">News</ion-title>
        <ion-button href="poster" slot="end" fill="clear">
            <ion-icon slot="icon-only" name="create"></ion-icon>
            <ion-label>Publier</ion-label>
        </ion-button>
    </ion-toolbar>
</ion-header>
<ion-content>
    <ion-list *ngFor="let item of post | async json">
        <ion-item-sliding *ngIf="item.userid==this.dataservice.getData()">
            <ion-card (click)=" NewsSinglePage(item) ">
                <img class="img-nw " src={{item.image}} />
                <ion-card-content>
                    <ion-card-title>{{item.product}}</ion-card-title>

                    <p>{{item.description}}</p>
                </ion-card-content>
            </ion-card>
        </ion-item-sliding>
    </ion-list>

</ion-content>