<!DOCTYPE html >
<ion-content>
    <ion-card>
        <ion-item lines="none">
            <ion-avatar slot="start">
                <img src="../../assets/icon/me.jpeg" />
            </ion-avatar>
            <ion-label>
                <h2><b>EL GHARABI ISSAM</b></h2>
                <p>Il y a 5 jours</p>
            </ion-label>
        </ion-item>
        <ion-item lines="none" class="tweet">
            <ion-label text-wrap>Hello friend<br/>welcom in my account<br/>this is you friend issam my old is 20 years<br/>#issam</ion-label>
        </ion-item>
        <ion-button size="small" fill="clear">
            <ion-icon slot="start" name="heart-outline"></ion-icon>1K
        </ion-button>
        <ion-button size="small" fill="clear">
            <ion-icon slot="start" name="chatbubble-ellipses-outline"></ion-icon>3,5k
        </ion-button>
        <ion-button size="small" fill="clear">
            <ion-icon slot="start" name="repeat"></ion-icon>11K
        </ion-button>
    </ion-card>
</ion-content>