ion-content {
    --ion-background-color: linear-gradient(#FFEFBA, #FFFFFF);
}

ion-item {
    --ion-background-color: transparent !important
}

.padding {
    padding: 5%;
}

.logo {
    position: relative;
    height: 100px;
}

.logo ion-icon {
    font-size: 5em;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}