<!DOCTYPE html>
<ion-header>
    <ion-toolbar class="title">
        <ion-title size="large">Chats</ion-title>
    </ion-toolbar>
    <ion-toolbar>
        <ion-searchbar></ion-searchbar>
    </ion-toolbar>
</ion-header>
<ion-content>
    <ion-item routerLink="/conversation" *ngFor="let msag of info | async json">
        <ion-avatar slot="start">
            <img src={{msag.image}}>
        </ion-avatar>
        <ion-label (click)="gotochat(msag)">
            <div class="flex_box">
                <h3>{{msag.username}}</h3>
            </div>
        </ion-label>
    </ion-item>




</ion-content>