<!DOCTYPE html>
<ion-content>
    <div class="logo">
        <ion-icon color="light" ame="person-add-outline "></ion-icon>
    </div>
    <div class="padding ">
        <ion-item>
            <ion-icon color="light "></ion-icon>
            <ion-icon color="light "></ion-icon>
            <ion-input class="writ " color="light " type="text " placeholder="Nom "></ion-input>
        </ion-item>

        <ion-item>
            <ion-icon color="light "></ion-icon>
            <ion-icon color="light "></ion-icon>
            <ion-input class="writ " color="light " type="text " placeholder="Prenom "></ion-input>
        </ion-item>
        <ion-item>
            <ion-icon color="light "></ion-icon>
            <ion-icon color="light "></ion-icon>
            <ion-input class="writ " color="light " type="mail " placeholder="Email "></ion-input>
        </ion-item>
        <ion-item>
            <ion-icon color="light "></ion-icon>
            <ion-icon color="light "></ion-icon>
            <ion-input class="writ " color="light " type="mail " placeholder="Mot de pass "></ion-input>
        </ion-item>

    </div>
    <ion-item lines="none ">
        <ion-button color="light " slot="end " fill="clear ">Mot de passe oublié ?</ion-button>
    </ion-item>
    <ion-button color="light " expand="block " shape="round " fill="outline ">Connexion</ion-button>
</ion-content>