<!DOCTYPE html>
<ion-tabs>
    <ion-tab-bar slot="bottom" color="black">
        <ion-tab-button tab="news">
            <ion-icon color="light" name="home-outline"></ion-icon>
            <ion-label color="light">News</ion-label>
        </ion-tab-button>
        <ion-tab-button tab="discussion">
            <ion-icon color="light" name="chatbubbles-outline"></ion-icon>
            <ion-label color="light">Discussion</ion-label>
        </ion-tab-button>
        <ion-tab-button tab="profil">
            <ion-icon color="light" name="person-circle-outline"></ion-icon>
            <ion-label color="light">Profil</ion-label>
        </ion-tab-button>
    </ion-tab-bar>
</ion-tabs>